<!doctype html> {% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Simple MOOC - Uma simples plataforma de ensino a distância" />
    <title>Simple MOOC</title>
    <link href="https://png.icons8.com/metro/50/000000/graduation-cap.png" rel="icon" type="image/png" />

    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css"
        integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/pure-min.css" integrity="sha384-UQiGfs9ICog+LwheBSRCt1o5cbyKIHbwjWscjemyBMT9YCUMZffs6UqUTd0hObXD" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}" /> {% comment %}
    <script src="http://yui.yahooapis.com/3.12.0/build/yui/yui-min.js"></script>
    <script src="https://github.com/yui/yui3-gallery/blob/master/src/gallery-simple-menu/js/simple-menu.js"></script> {% endcomment %}
</head>

<body>
    <!-- <div class="header">     -->
    <nav class="elevation navbar navbar-expand-lg navbar-dark sticky-top justify-content-between">
        {% comment %} " flex-column flex-md-row bd-navbar"> {% endcomment %}
        <a class="navbar-brand" href="{% url 'home' %}">
            <i class="fa fa-graduation-cap"></i> SIMPLE MOOC</a>
        {% comment %} button colapsed {% endcomment %}
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                {% comment %} "> {% endcomment %}

                <li class="nav-item down-item">
                    <a class="nav-link active" href="{% url 'home' %}">Início</a>
                </li>
                <li class="nav-item down-item">
                    <a class="nav-link active" href="{% url 'courses' %}">Cursos</a>
                </li>
                <li class="nav-item down-item">
                    <a class="nav-link active" href="{% url 'contact' %}">Contato</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <div class="btn-group">
                        <button class="btn dropdown-toggle" type="button" id="buttonMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Ola {{ user }}
                        </button>

                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{% url 'dashboard' %}">Painel</a>
                            <a class="dropdown-item" href="{% url 'logout' %}">Sair</a>
                        </div>
                    </div>

                </li>
                {% else %}
                <li class="nav-item down-item">
                    <a class="nav-link active" href="{% url 'login' %}">Entrar</a>
                </li>
                {% endif %}

            </ul>
        </div>
    </nav>
    <!-- </div> -->
    <div class="content">
        <!-- Menssagens -->
        <div class="demo">

        
        
        {% if messages %}
        <div class="row msgs">
            <div class="col-12">
                {% for msg in messages %}
                <div id="alert-show" class="alert alert-dismissible fade show alert-{{ msg.tags }}" role="alert">
                    <strong>{{ msg }}</strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endif %} {% block content %}{% endblock %}
    </div>
        <div class="footer">
            <div class="container">
                <p class="text-muted">
                    Simple MOOC - Uma simples plataforma de ensino a distância
                </p>
                <p class="text-muted">
                    Copyright &copy; 2017
                    <a href="https://github.com/carloscacho/simplemocFunc" target="_blank">
                        <i class="fa fa-github"></i>/carloscacho</a>
                </p>

            </div>

        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9"
        crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {
            $('body').bootstrapMaterialDesign();
        });

        $(document).ready(function () {
            $('#alert-show').hide();
            $('#alert-show').fadeTo(3000, 0.5).slideUp(500, function () {
                $('#alert-show').slideUp(500);
            });
        });

        //        $('[data-toggle=offcanvas]').click(function() {
        //            $('.row-offcanvas').toggleClass('active');
        //            $('.collapse').toggleClass('in').toggleClass('d-print-none').toggleClass('d-print-block');
        //        });

        //menu
        $('.btn-expand-collapse').click(function (e) {
            $('.navbar-primary').toggleClass('collapsed');
            $('.subitem').toggleClass('moveicon');

            $('.fa-arrow-left').toggleClass('fa-arrow-right')
           
        });
    </script>
    <script src=" {% static 'js/boots.js' %}" />
</body>

</html>