{% extends "accounts/dashboard.html" %}

{% block breadcrumb %}
	{{block.super}}
	<!-- <li>/</li> -->
	<li class="breadcrumb-item active" aria-current="page"><a href="{% url 'coursepage' course.slug%}"> {{course}}</a></li>
	
{% endblock breadcrumb %}

{% block extra_menu %}
	<li class="card-header">
		
			{{course}}
		
	</li>
	<li class="list-group-item">
		<a class="list-group-item list-group-item-action" href="{% url 'lessons' course.slug %}">
		<i class="fa fa-video-camera"></i>
		Aulas e materia
		</a>
	</li>

	<li class="list-group-item">
		<a class="list-group-item list-group-item-action" href="{% url 'courseinfo' course.slug %}">
		<i class="fa fa-info-circle"></i>
		Informações
		</a>
	</li>

	<li class="list-group-item">
		<a class="list-group-item list-group-item-action" href="{% url 'coursepage' course.slug %}">
		<i class="fa fa-envelope"></i>
		Anúncios
		</a>
	</li>

	<li class="list-group-item">
		<a class="list-group-item list-group-item-action" href="#">
		<i class="fa fa-comments"></i>
		Fórum de Dúvidas
		</a>
	</li>
{{ block.super }}
{% endblock extra_menu %}