{% extends "courses/course_dashboard.html" %}


{% block dashboard_content %}
{% for announcement in announcements  %}
	
<div class="well">
	<h2><a href="{% url 'show_announcement' course.slug announcement.pk %}">
	{{announcement.title}}</a>
	</h2>
	<p>{{announcement.content|linebreaks}}</p>
	<p>
		<a href="{% url 'show_announcement' course.slug announcement.pk %}#comm">
		<i class="fa fa-comments-o"></i>
		{% with total=announcement.comments.count %}
		    {{total}} Comentário{{total|pluralize}}
		{% endwith %}
		
		</a>
	</p>
</div>
{% empty %}
	<div class="well">
		<h2>Esse Curso não tem aulas dispóniveis</h2>
	</div>
{% endfor %}	
{% endblock dashboard_content %}