{% extends "accounts/dashboard.html" %}

{% block breadcrumb %}
	{{block.super}}
	<!-- <li>/</li> -->
	<li class="breadcrumb-item active" aria-current="page"><a href="{% url 'coursepage' course.slug%}"> {{course}}</a></li>
	
{% endblock breadcrumb %}

{% block extra_menu %}
	<li>
		<a href="#">
		<i class="fa fa-bookmark"></i>
		<span class="nav-label">{{course}}</span>
		</a>
		<ul class="subitem">
			<li>
				<a href="{% url 'lessons' course.slug %}">
				<i class="fa fa-video-camera"></i>
				<span class="nav-label">Aulas e materia </span>
				</a>
			</li>

			<li>
				<a href="{% url 'courseinfo' course.slug %}">
				<i class="fa fa-info-circle"></i>
				<span class="nav-label">Informações </span>
				</a>
			</li>

			<li>
				<a href="{% url 'coursepage' course.slug %}">
				<i class="fa fa-envelope"></i>
				<span class="nav-label">Anúncios</span>
				</a>
			</li>

			<li>
				<a href="#">
				<i class="fa fa-comments"></i>
				<span class="nav-label"> Fórum de Dúvidas</span>
				</a>
			</li>
		</ul>
	</li>
{{ block.super }}
{% endblock extra_menu %}