{% extends "courses/course_dashboard.html" %}
{% load static %}
{% block dashboard_content %}
<div class="card box-shadow mb-4 p-2h-md-250">
	<div class="splash">
            <div class="col-12">
               
                    <h1 class="card-header">
                        {{ course }}
                    </h1>
                    <h3 class="card-title pt-3">
                        {{ course.description }}
					</h3>

                
            </div>
    </div>
    <div class="content">
        <div class="row">
            <div class="col-8">
                <div class="l-box">
                    <h4 class="content-subhead">Sobre o Curos</h4>
					
					{{ course.about | linebreaks }}

                </div>
            </div>
            <div class="col-4">
                <div class="l-box">
					{% if course.image %}

                    <img class="img-fluid" src="{{ course.image.url }}"
                         alt="{{ course }}" />

                	{% else %}

					<img class="img-fluid" src= "{% static 'img/course.img.png' %}"
                         alt="{{course}}" />

                	{% endif%}
                </div>
            </div>
        </div>


		<h4 class="card-header"> Aulas Disponibilizadas </h4>
		<table class="table table-hover">
			<thead>
				<tr>
					<th scope="col">
						Tema
					</th>
					<th scope="col">
						Descrição da Aula
					</th>
					<th scope="col">
						Liberado em 
					</th>
					<th scope="col">
						Acessar
					</th>
				</tr>
			</thead>
			<tbody>
				{% for lesson in lessons %}
					<tr>
						<td scope="row">
							{{lesson}}
						</td>
						<td>
							{{lesson.description|truncatewords:20}}
						</td>
						<td>
						{% if not lesson.is_available %}
							{{lesson.relase_date|date:'d/m/Y'}} 
						{% else %}
							{{lesson.relase_date|date:'d/m/Y'}} liberado a {{lesson.relase_date|timesince}}
						{%endif%}
						</td>
						<td>
							{% if not lesson.is_available %}
								<i class="fa fa-linkb">
								</i>
								Não liberado
							{% else %}
							<a href="{% url 'lesson' course.slug lesson.pk %}">
								<i class="fa fa-link">
								</i>
								Acessar
							</a>
							{% endif %}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

</div>

{% endblock dashboard_content%}