{% extends "courses/course_dashboard.html" %}

{% block breadcrumb %}
	{{block.super}}
	<!-- <li>/</li> -->
	<li class="breadcrumb-item" aria-current="page"><a href="{% url 'lessons' course.slug %}"> Aulas </a></li>
	<!-- <li>/</li> -->
	<li class="breadcrumb-item active" aria-current="page"><a href="{% url 'lesson' course.slug lesson.pk %}"> {{lesson}} </a></li>
	
{% endblock breadcrumb %}

{% block dashboard_content %}

<div class="card box-shadow mb-4 p-2h-md-250">
	<h2 class="card-header">
		<a href="{% url 'lesson' course.slug lesson.pk %}">{{lesson}}</a>
	</h2>
	<p class="card-text">
		{{lesson.description}}
	</p>
</div>

<div class="card box-shadow mb-4 p-2h-md-250">
	<h3 class="card-header">Materiais da Aula</h3>

	{% for material in lesson.materials.all %}
	
		{% if material.is_embendded %}
		<div class="card box-shadow mb-4 p-2h-md-250">
			<h4 class="card-header"> video: {{material}}</h4>
			<div class="embed-responsive embed-responsive-16by9">
				{{material.embendded|safe}}
			</div>
			
			
		</div>
		{% endif %}
	
	{% endfor %}
	
	<h4 class="card-title">Materiais Extras</h4>
	<table  class="table table-hover">
		<thead>
			<tr>
				<th scope="col">Nome
				</th>
				<th scope="col">Ação
				</th>
			</tr>

		</thead>
		<tbody>
	{% for material in lesson.materials.all %}
		{% if not material.is_embendded and  material.file %}

				<tr>
					<td scope="row">
						{{material}}
					</td>
					<td>
						<a target="_blank" href="{{material.file.url}}">
							<i class="fa fa-download"></i>
							 Baixar
						</a>
					</td>
				</tr>
		{% endif %}
	{% endfor %}
	</tbody>
</table>

</div>

	
{% endblock dashboard_content %}