{% extends 'courses/course_dashboard.html' %}

{% block dashboard_content %}
<div class="card">
	<form method="POST" action="">
		{% csrf_token %}
		<h2> Curso {{course}}</h2>
		<h3>Você deseja realmente Cancelar a inscrição deste curso? </h3>
		<div class="btn-group">
			<button class="btn btn-outline-danger" type="subimit" name="confirmar"> comfirmar</button>  
			<a href="{% url 'coursepage' course.slug %}" class="ml-2 btn btn-outline-primary">
			Cancelar
			</a>
		</div>
	</form>
</div>
{% endblock %}