{% extends 'courses/course_dashboard.html' %}

{% block dashboard_content %}
<div class="well">
	<form method="POST" action="">
		{% csrf_token %}
		<h2> Curso {{course}}</h2>
		<h3>Você deseja realmente Cancelar a inscrição deste curso? </h3>
		<div class="pure-controls">
			<button class="pure-button button-error" type="subimit" name="confirmar"> comfirmar</button>  
			<a href="{% url 'coursepage' course.slug %}" class="pure-button">
			Cancelar
			</a>
		</div>
	</form>
</div>
{% endblock %}