<li>
	<a href="#" data-target="#item1" data-toggle="collapse">
		<i class="fa fa-briefcase"></i>
		<span class="glyphicon glyphicon-list-alt"></span><span class="nav-label">Meus Cursos
			</span>
		</span>
	</a>
	<ul class="subitem">
		{% for enroll in enrollments %}
		<li>
			<a href="{% url 'coursepage' enroll.course.slug %}">
				<i class="fa fa-book"></i>
				<span class="glyphicon glyphicon-list-alt"></span><span class="nav-label"> {{enroll.course}}</span>
			</a>
		</li>
		{% empty %}
		<li>
			<a href="#">
				<i class="fa fa-times"></i>
				<span class="glyphicon glyphicon-list-alt"></span><span class="nav-label">Nenhum curso disponível</span>
			</a>
		</li>
		{% endfor %}
	</ul>