{% extends "base.html" %}

{% load course_tags %}

{% block content %}
<div class="row">
	<div class="col">
		<ol class="breadcrumb">
			{% block breadcrumb %}
				<li class="breadcrumb-item active" aria-current="page" ><a href="{% url 'dashboard' %}"> Meu Painel</a></li>
			{% endblock breadcrumb %}
		</ol>
	</div>

	<div class="col-3">
		<div class="pure-menu custom-restricted-width" style="border: 1px solid gray;">
			
			<ul class="pure-menu-list">
				<li class="pure-menu-heading" style="border-bottom: 1px solid gray;">
				<i class="fa fa-user"></i>
					Bem vindo, {{user}}
				</li>
				{% block extra_menu %}
					
				
				{% my_courses user %}

				<li class="pure-menu-heading" style="border-bottom: 1px solid gray;">Conta</li>
				<li class="pure-menu-item"><a class="pure-menu-link" href="{% url 'edit' %}">
				<i class="fa fa-cog"></i>
				Editar Conta</a></li>
				<li class="pure-menu-item"><a class="pure-menu-link" href="{% url 'edit_password' %}">
				<i class="fa fa-lock"></i>
				Editar Senha</a></li>

				{% endblock extra_menu %}
			</ul>
		</div>
	</div>

	<div class="col" ></div>
	
	<div class="col-10">
		<div class="inner">
			{% block dashboard_content %}
			<h2> Meus Cursos</h2>

			{% for enroll in enrollments %}
				
			<div class="well">
				<h3>{{enroll.course}} ({{enroll.course.start_date | date:'d/m/Y'|default:'Sem Data' }})</h3>
				
				{{enroll.course.description | linebreaks}}

				<div class="pure-controls">
					<a href="{% url 'coursepage' enroll.course.slug %}" class="pure-button button-primary"> Acessar</a>
					<a href="{% url 'undo_enrollment' enroll.course.slug %}" class="pure-button button-error">
						Cancelar
					</a>
				</div>
			</div>	
			
			{% empty %}
			<aside class="col">
				<p class="msgformat">
					Você não está inscrito em nenhum curso 
				</p>
			</aside>

			{% endfor %}

			{% endblock dashboard_content %}
		</div>
	</div>
</div>

{% endblock content %}