{% extends "base.html" %} {% load course_tags %} {% block content %}
<div class="row">
	<div class="col-12">
		<ol class="breadcrumb">
			{% block breadcrumb %}
			<li class="breadcrumb-item active" aria-current="page">
				<a href="{% url 'dashboard' %}"> Meu Painel</a>
			</li>
			{% endblock breadcrumb %}
		</ol>
	</div>
</div>

<div class="wrapper">
	<div class="row row-offcanvas row-offcanvas-left">
		<div class="column col-sm-3 col-xl-2 sidebar-offcanvas" id="sidebar">
			<div class="card box-shadow mb-4 h-md-250 navbar-primary">

				<!-- 
					<p>
						<a href="#" data-toggle="offcanvas">
							<i class="fa fa-navicon"></i>
							<span class="collapse in d-print-none"> Menu </span>
						</a>
					</p> -->

				<a href="#" class="btn-expand-collapse">
					<i class="fa fa-arrow-left"></i>
				</a>


				<ul class="navbar-primary-menu" id="menu">
					<li>
						<a href="#">
							<i class="fa fa-user"></i>
							<span class="nav-label">Bem vindo, {{user}} </span>
						</a>
					</li>
					{% block extra_menu %} {% my_courses user %}


					<li>
						<a href="#">
							<i class="fa fa-user-circle"></i>
							<span class="nav-label">Conta

							</span>

						</a>


						<ul class="subitem">
							<li>
								<a href="{% url 'edit' %}">
									<i class="fa fa-cog"></i>
									<span class="nav-label">Editar Conta</span>
								</a>
							</li>

							<li>
								<a href="{% url 'edit_password' %}">
									<i class="fa fa-lock"></i>
									<span class="nav-label">Editar Senha</span>
								</a>
							</li>
						</ul>

					</li>



					{% endblock extra_menu %}
				</ul>

			</div>
		</div>



		<div class="column col-sm-9 col-xl-8" id="main">
			<div class="inner">
				{% block dashboard_content %}
				<h2> Meus Cursos</h2>

				{% for enroll in enrollments %}

				<div class="card p-2 box-shadow mb-4 p-2h-md-250">
					<h3 class="card-header">{{enroll.course}} ({{enroll.course.start_date | date:'d/m/Y'|default:'Sem Data' }})</h3>

					<p class="card-text">
						{{enroll.course.description | linebreaks}}
					</p>


					<div class="btn-group">
						<a href="{% url 'coursepage' enroll.course.slug %}" class="btn btn-raised ml-2 btn-outline-primary"> Acessar</a>
						<a href="{% url 'undo_enrollment' enroll.course.slug %}" class="btn btn-raised ml-2 btn-danger">
							Cancelar
						</a>
					</div>
				</div>

				{% empty %}
				<aside class="col">
					<p class="msgformat">
						Você não está inscrito em nenhum curso
					</p>
				</aside>

				{% endfor %} {% endblock dashboard_content %}
			</div>
		</div>
	</div>
</div>
{% endblock content %}