{% extends "accounts/dashboard.html" %}

{% block breadcrumb %}
	{{block.super}}
	<!-- <li>/</li> -->
	<li class="breadcrumb-item active" aria-current="page"><a href="{% url 'edit_password' %}"> Editar Senha</a></li>
	
{% endblock breadcrumb %}

{% block dashboard_content %}
<form method="POST">
	{% csrf_token %}
	{% if success %}
		<p>A Senha foi alterada com sucesso</p>
	{% endif %}
	<fieldset>
		{{form.non_field_errors}}
		{% for field in form %}
			<div class="form-group">
				{{field.label_tag }}
				{{field}}
				{{field.errors}}
			</div>
			
		{% endfor %}

		<div class="btn-group">
			<input type="submit" value="Alterar Senha"
			class="btn btn-outline-primary">
		</div>

	</fieldset>
	
</form>
{% endblock dashboard_content %}

