{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="row">
	<div class="col-6">
	{% if success %}
		<p> E-mail enviado com Sucesso</p>
	{% else %}
		<h2>Informe seu E-mail</h2>
		<form class="pure-form pure-form-aligned" method="POST">
		{% csrf_token %}
			<fieldset>
				
				{{ form.non_field_errors }}
				
				{% for field in form %}
					<div class="pure-control-group">
					{{ field.label_tag }}
					{{ field }}
					{{ field.errors }} <br /> <br />
					
				{% endfor %}

				
				
				<div class="pure-controls">
					<input class="pure-button pure-button-primary" type="submit" value="Enviar E-mail">

				</div>

			</fieldset>


		</form>
	{% endif %}
	</div>

</div>

{% endblock content %}